<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/custom_visualizations/images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/custom_visualizations/css/base.css">
    <link rel="stylesheet" href="/static/custom_visualizations/css/index.css">
    <title>北大医院肾内科化验单智能识别系统</title>
    <!-- <script>
        setInterval(function () {
            localStorage.length === 0 ? window.location.href = '/api/ocr/validation_logout/' : localStorage.length;
        }, 100)
    </script> -->
</head>

<body>
    <header>
        <img src="/static/custom_visualizations/images/logo.png" alt="" class="logo">
        <ul class="list">
            <li><a href="/api/ocr/val_tion_sub/">上传</a></li>
            <li><a href="/api/ocr/val_tion_correct/">修订</a></li>
            <li><a href="/api/ocr/val_tion_history/">查询</a></li>
        </ul>
        <div id="user">
                <span id="User_Name">{{request.user}}</span>
            <a href="/api/ocr/val_tion_login/">退出</a>
        </div>
    </header>
    <div id="content">
        <p>
            HI,<span>张三</span>
        </p>
        <p>
            欢迎使用北大医院肾内科化验单智能识别系统
        </p>
    </div>
    <!-- <script>
        var los = JSON.parse(localStorage.successResult);
        document.getElementById('User_Name').innerText = localStorage.user_code;
    </script> -->
</body>

</html>