<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/icon.JPG">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/modify.css">
    <title>修订数据</title>
</head>
<body>
    <header>
        <img src="../static/images/logo.png" alt="" class="logo">
        <ul class="list">
            <li><a href="./updata.html">上传</a></li>
            <li><a href="./modify.html">修订</a></li>
            <li><a href="./history.html">查询</a></li>
        </ul>
        <div id="user">
            <span>张三</span>
            <a href="../templates/login.html">退出</a>
        </div>
    </header>
    <div></div>
</body>
</html>