<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/custom_visualizations/images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/custom_visualizations/css/base.css">
    <link rel="stylesheet" href="/static/custom_visualizations/css/user.css">
    <link rel="stylesheet" href="/static/custom_visualizations/css/layui.css">
    <title>用户管理</title>
    <style>
        .delgost {
            display: none;
        }

        .layui-tab-card {
            /* box-shadow: none; */
            /* border: none; */
            border-left: none;
            border-right: none;
            border-bottom: none;
            width: 80%;
            margin-left: 10%;
            height: 540px;
            overflow: auto;
        }
    </style>
</head>

<body>
    <header id="app">
        <img src="/static/custom_visualizations/images/logo.png" alt="" class="logo">
        <ul class="list">
            <li><a href="/api/ocr/val_tion_sub/">上传</a></li>
            <li><a href="/api/ocr/val_tion_correct/">修订</a></li>
            <li><a href="/api/ocr/val_tion_history/">查询</a></li>
            <li><a href="/api/ocr/val_tion_mob_user/">用户管理</a></li>
        </ul>
        <div id="user">
            <span>{{request.user}}</span>
            <a href="/api/ocr/val_validation_logout/" id="clear">退出</a>
        </div>
    </header>
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this" id="xguser">修改账户</li>
            <li id="deluser">账户管理</li>
            <li id="adduser">增加<span id="val"></span>账号</li>
            <li id="hos">医院管理</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item  layui-show">
                <form action="" class="layui-form">
                    <div id="zhucefk">
                        <h2 class="h4">当前账户：<span id="nowuserr">root</span></h2>
                        <p>原密码:<input type="password" class="tupe name" id="xgname"></p>
                        <p>新密码:<input type="password" class="tupe pwd" id="xgpwd"></p>
                        <p>重复新密码:<input type="password" class="tupe pwd" id="xgpwd2"></p>
                        <p>
                            <a href="javascript:;" class="regd" id="xgregd">修改</a>
                            <a href="/api/ocr/val_tion_mob_user/" class="regd">放弃</a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <p id="zhxx">
                    <input type="text" placeholder="请输入查询内容(此处为检索账户信息)" id="ssyh_inp">
                    <a href="javascript:;" id="ssyh_btn">查询</a>
                </p>
                <table id="tbtable" border="0" cellpadding="0">
                    <tr id="tbhead">
                        <td>账户名</td>
                        <!-- <td>邮箱</td> -->
                        <td>权限</td>
                        <td>状态</td>
                        <td>联系方式</td>
                        <td>所属医院</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="layui-tab-item">
                <form action="">
                    <div id="zhucefk">
                        <p id="zcp1">账号名称:<input type="text" class="tupe name" id="zcname"
                                placeholder="可以使用英文和数字，用户名不宜过长"></p>
                        <p>密码:<input type="password" class="tupe pwd" id="zcpwd"></p>
                        <p>确认密码:<input type="password" class="tupe pwd" id="zcpwd2"></p>
                        <p>
                            <span id="ssyy">所属医院：</span>
                            <select name="interest" lay-filter="select" id="select2">
                                <option value="wxz" selected="" id="wxz2"></option>
                                <!-- <option value="4f352d39">北京大学附属医院</option> -->
                            </select>
                        </p>
                        <p>
                            <a href="javascript:;" class="regd" id="zcregd">创建</a>
                            <a href="/api/ocr/val_tion_mob_user/" class="regd">放弃</a>
                        </p>

                        <!-- 邮箱:<input type="text" class="tupe pwd" id="zcyx"> -->


                        <!-- <h4>您当前可以开设的账户类型为：</h4> -->
                        <!-- <span id="val" style="margin-left:50px"></span> -->
                        <!-- <select name="interest" lay-filter="select" id="select">
                                    <option value="wxz" selected="" id="wxz"></option>
                                    <option value="2" id="val1">管理账户</option>
                                    <option value="3" id="val2">普通账户</option>
                                </select> -->


                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <div id="xzyybg">
                    <p>
                        医院名称<input type="text" placeholder="名称" id="hoscn">
                    </p>
                    <p>
                        医院缩写<input type="text" placeholder="英文缩写" id="hosen">
                    </p>
                    <p>
                        <a href="javascript:;" id="addhos_a">增加</a>
                        <a href="/api/ocr/val_tion_mob_user/" class="regd">放弃</a>
                    </p>
                </div>
                <table id="tbtable2" border="0" cellpadding="0">
                    <tr id="tbhead2">
                        <td>医院名称</td>
                        <td>医院缩写</td>
                        <td>管理员</td>
                        <td>联系方式</td>
                        <!-- <td>创建时间</td> -->
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="/static/custom_visualizations/js/jquery-1.11.0.min.js"></script>
<script src="/static/custom_visualizations/js/user.js"></script>
<script src="/static/custom_visualizations/layui/layui.js"></script>
<script src="/static/custom_visualizations/layui/layui.all.js"></script>
<script src="/static/custom_visualizations/js/clearsession.js"></script>

</html>